<template>
  <div class="row">
      <h1>{{title}}</h1>
      <hr>
      <input type="file" @change="changeFile" multiple>

      <table>
        <thead>
          <tr>
              <th>#</th>
              <th>Image</th>
              <th>Image name</th>
              <th>Remove</th>
          </tr>
        </thead>

        <tbody v-if="images">
          <tr v-for="(image, index) in images" :key="index"> 
              <td>{{index + 1}}</td>
              <td><img :src="image.data" :alt="image.name" style="width: 100px; height: 100px;" class="imgTag"></td>
              <td id="filename">{{image.name}}</td>
              <td><button class="btn btn-small" @click="removeImage(index)">remove</button></td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>

export default {
    data: () => ({
        title: 'Image Upload',
        images: JSON.parse(localStorage.getItem('images') || '[]')
    }),

    created()  {
        this.$watch(
            () =>this.images,
            (oldVal, newVal) => {
                console.log(newVal)
            }
        )
    },

    methods: { 
        changeFile(elem) { 
            const files = elem.target.files || elem.dataTransfer.files;

            if(!files.length) return

            this.createImage(files)
        },

        createImage(files) {
            let vm = this;
            let todo = files.length;

            for (let index = 0; index < files.length; index++) { 
                let reader = new FileReader();
                let image = {
                    name: files[index].name,
                };

                vm.images.push(image);

                reader.onload = (function(event) { 
                    //filename.innerHTML += "<p>" + files[index].name + "</p>";// Выводит имя файла

                    this.data = event.target.result;
                    todo--;

                    if(todo <= 0){
                        vm.images = vm.images.slice();
                        localStorage.setItem('images', JSON.stringify(vm.images));
                    }
                }).bind(image)

                reader.readAsDataURL(files[index]);
            }
        },

        removeImage(index) { 
            this.images.splice(index, 1);
            localStorage.setItem('images', JSON.stringify(this.images));

            // let btn = document.getElementsByClassName('btn-small');

            // if(btn.checked) { 
            //     index.style.textDecoration='line-through';
            // }
        }
    }
}
</script>

<style>
    h1 { 
        text-align: center;
    }

    input[type="file"] {
        display: flex;
        margin: 0 auto;   
    }
</style>
